# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.whl

# Віртуальне середовище
venv/
env/
ENV/
.venv/
.env/

# Файли конфігурацій
*.sqlite3
*.db

# Логи
*.log

# Системні файли
.DS_Store
Thumbs.db

# Інші файли
*.bak
*.tmp
*.swp
*.swo

node_modules